<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>title</th>
      <td><%= @article_1.title %></td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @article_1.content %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', new_employee_article_path %>